body{
  background-color: cyan;
  overflow: visible;
  margin: 0;
}

#un {
  background-color: #FF0000;
  width: 965px;
  height: 200px;
  float: inherit;
  font-family: 'Baloo Chettan 2', cursive;
  text-align: center;
  line-height: 200px;
  font-size: 40px;
}

#dos {
  background-color: #FFB200;
  margin-top: 60px;
  float: inherit;
  width: 400px;
  height: 400px;
  font-family: 'Baloo Chettan 2', cursive;
  text-align: center;
  line-height: 400px;
  font-size: 50px;
}

#tres {
  background-color: #C1FF00;
  margin-top: 50px;
  float: inherit;
  width: 400px;
  height: 400px;
  font-family: 'Baloo Chettan 2', cursive;
  text-align: center;
  line-height: 400px;
  font-size: 50px;
}

#quatre {
  background-color: #00FF7C;
  width: 965px;
  height: 295px;
  float: inherit;
  margin-top: 25px;
  font-family: 'Baloo Chettan 2', cursive;
  text-align: center;
  line-height: 300px;
  font-size: 50px;
}

#cinc {
  background-color: #1300FF;
  width: 965px;
  height: 295px;
  float: inherit;
  font-family: 'Baloo Chettan 2', cursive;
  text-align: center;
  line-height: 300px;
  font-size: 50px;
}
